<!DOCTYPE html>

<html>

<head>

<title>
Attendance System
</title>


<link rel="stylesheet" href="/static/css/style.css">


<style>


.home-container {

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}



.home-card {


background:white;

width:450px;

padding:40px;

border-radius:20px;

text-align:center;


box-shadow:
0 10px 30px rgba(0,0,0,.1);


}



.home-title {


font-size:35px;

color:#2563eb;

margin-bottom:10px;


}



.home-text {


color:#6b7280;

margin-bottom:30px;


}



.home-btn {


display:block;

width:100%;

margin:15px 0;

font-size:18px;

}



</style>


</head>


<body>


<div class="home-container">


<div class="home-card">


<h1 class="home-title">

📚 Attendance System

</h1>


<p class="home-text">

ID Card OCR Attendance Monitoring System

</p>



<a

href="/student"

class="btn home-btn">


🎓 Student Attendance


</a>




<a

href="/teacher"

class="btn btn-green home-btn">


👨‍🏫 Teacher Dashboard


</a>



</div>


</div>



</body>

</html>