<!DOCTYPE html>

<html>

<head>

<title>
Attendance List
</title>


<link rel="stylesheet" href="/static/css/style.css">


</head>


<body>


<div class="header">


<h1>
📋 Attendance Record
</h1>


<a href="/teacher" class="btn btn-gray">

Back

</a>


</div>



<div class="container">



<div class="card">


<h2>

{{schedule.course_code}}

-
{{schedule.course_name}}

</h2>


<p>


📅 {{schedule.day_of_week}}

<br>


⏰

{{schedule.start_time}}

-

{{schedule.end_time}}


<br>


🏫

{{schedule.room}}


</p>



<br>


<a

href="/teacher/export?schedule_id={{schedule.schedule_id}}"

class="btn btn-green">


⬇ Export CSV


</a>



<table>


<tr>

<th>ID Number</th>

<th>Name</th>

<th>Status</th>

<th>Time In</th>

</tr>



{% for a in attendance %}


<tr>


<td>

{{a.id_number}}

</td>


<td>

{{a.name}}

</td>


<td>

<span class="badge">

{{a.status}}

</span>

</td>


<td>

{{a.time_in}}

</td>


</tr>



{% endfor %}



</table>



</div>



</div>


</body>


</html>